<div class="card card-solid">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-6">
          <h3 class="d-inline-block d-sm-none">{{ produto.nome }}</h3>
          <div class="col-12">
            <img src="{{ produto.img_produto.url }}" class="product-image" alt="Product Image" style="object-fit: contain; height: 425px;">
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <h3 class="my-3">{{ produto.nome }}</h3>
          </h4><b>Marca:</b> {{ produto.marca }}</h4><br>
            </h4><b>Categoria:</b> {{ produto.get_categoria_display }}<br>
          </h4><b>Código:</b> {{ produto.id }}</h4>

          <hr>

          <h4 class="mt-3">Tamanhos <small>e quantidades disponíveis</small></h4>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-default text-center {% if produto.qtd_tam_p %}{% else %}disabled{% endif %}">
              <input type="radio" name="color_option" id="color_option_b1" autocomplete="off">
              <span class="text-l">P</span>
              <br>
              {% if produto.qtd_tam_p %}
              {{ produto.qtd_tam_p }}
              {% else %}
              Acabou
              {% endif %}
            </label>
            <label class="btn btn-default text-center {% if produto.qtd_tam_m %}{% else %}disabled{% endif %}">
              <input type="radio" name="color_option" id="color_option_b2" autocomplete="off">
              <span class="text-l">M</span>
              <br>
              {% if produto.qtd_tam_m %}
              {{ produto.qtd_tam_m }}
              {% else %}
              Acabou
              {% endif %}
            </label>
            <label class="btn btn-default text-center {% if produto.qtd_tam_g %}{% else %}disabled{% endif %}">
              <input type="radio" name="color_option" id="color_option_b3" autocomplete="off">
              <span class="text-l">G</span>
              <br>
              {% if produto.qtd_tam_g %}
              {{ produto.qtd_tam_g }}
              {% else %}
              Acabou
              {% endif %}
            </label>
            <label class="btn btn-default text-center {% if produto.qtd_tam_gg %}{% else %}disabled{% endif %}">
              <input type="radio" name="color_option" id="color_option_b4" autocomplete="off">
              <span class="text-l">GG</span>
              <br>
              {% if produto.qtd_tam_gg %}
              {{ produto.qtd_tam_gg }}
              {% else %}
              Acabou
              {% endif %}
            </label>
          </div>
          
          <hr>
          
          <h4 class="mt-3">Estoque</h4>
          <div class="produtc_min_max">
            <p>
              <strong>Quantidade Máxima:</strong> {{produto.qntd_max}}
              <br>
              <strong>Quantidade Mínima:</strong> {{produto.qntd_min}}
            </p>
            <hr>
            <p>
              <h5><b>Preço de Venda:</b> R$ {{produto.preco}}</h5>
          </div>
          <hr>
          <div class="btn" role="group" aria-label="Botões de acesso">
          <a href="{% url 'produto:atualizar' pk=produto.id %}" class="btn btn-success btn-lg">Vender</a>
          <a href="{% url 'produto:atualizar' pk=produto.id %}" class="btn btn-info btn-lg">Editar</a>
          <a href={{ produto.etiqueta.url }} class="btn btn-primary btn-lg">Emitir Etiqueta</a>
          <a href="{% url 'produto:excluir' pk=produto.id %}" class="btn btn-danger btn-lg">Excluir</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>