{% if produtos %}
<div class="container">
  <div class="card bg-light mb-3">
    <div class="card-header">
      <form action="{% url "produto:estoque" %}" method="get">
        <div class="input-group mb-0">
          <input type="text" class="form-control" placeholder="Insira o Código do Produto" aria-label="Insira o Código do Produto" aria-describedby="basic-addon2" name="buscar">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Pesquisar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    {% for item in produtos %}
    <div class="col">
      <div class="card mt-3" style="width: 18rem;">
          <img class="card-img-top" src="{{ item.img_produto.url }}" alt="Card image cap" style="object-fit: contain; height: 200px;">
          <div class="card-body">
            <h5 class="card-title">{{ item.nome }}</h5>
            <p class="card-text">Marca: {{ item.marca }}
              <br/>
              Tamanhos: {% if item.qtd_tam_p %}<button type="button" class="btn btn-outline-secondary btn-sm-smaller">P</button>{% endif %}
              {% if item.qtd_tam_m %}<button type="button" class="btn btn-outline-secondary btn-sm-smaller">M</button>{% endif %}
              {% if item.qtd_tam_g %}<button type="button" class="btn btn-outline-secondary btn-sm-smaller">G</button>{% endif %}
              {% if item.qtd_tam_gg %}<button type="button" class="btn btn-outline-secondary btn-sm-smaller">GG</button>{% endif %}
            <br/>
              Código: {{ item.id }}
            </p>   
            <a href="{% url "produto:detalhe" pk=item.id %}" class="btn btn-primary">Abrir</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% else %}
<div class="col-sm">
  <div class="card card-primary mt-3">
    <div class="card-header">
      <h3 class="card-title">Cadastrar Produtos</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title"><strong>Nenhum Produto Cadastrado.<strong></h5>
    </div>
    <div class="card-footer">
      <a href="{% url "dashboard" %}" class="btn btn-danger" role="button">Voltar</a>
      <a href="{% url "produto:cadastro" %}" class="btn btn-success" role="button">Cadastrar Produto</a>
    </div>
  </div>  
</div>
{% endif %}