{% extends "adminlte/base.html" %}

{% block page_title %}Atualização de Produtos{% endblock page_title %}

{% block content_header %}Atualização de Produtos{% endblock content_header %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "dashboard" %}">Início</a></li>
    <li class="breadcrumb-item"><a href="{% url "produto:estoque" %}">Estoque</a></li>
    <li class="breadcrumb-item active">Atualização De Produtos</li>
{% endblock breadcrumb %}

{% block content %}
    {% include "produtos/extras/atualizacao_content.html" %}
{% endblock content %}

