{% extends "adminlte/base.html" %}

{% block page_title %}Cadastro de Produtos{% endblock page_title %}

{% block content_header %}Cadastro de Produtos{% endblock content_header %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "dashboard" %}">Início</a></li>
    <li class="breadcrumb-item active">Cadastro De Produtos</li>
{% endblock breadcrumb %}

{% block content %}
    {% include "produtos/extras/cadastro_content.html" %}
{% endblock content %}

{% block scripts_multiple %}
<script>
document.getElementById('id_img_produto').addEventListener('change', function(e) {
    var fileName = e.target.files[0].name;
    var nextSibling = e.target.nextElementSibling;
    nextSibling.innerText = fileName;
});</script
{% endblock scripts_multiple %}