<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Atualizar Marcas</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form action="{% url 'fornecedor:atualizar' pk=form.instance.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="marca_nome">{{ form.nome.label_tag }}</label>
        {{ form.nome }}
      </div>
      <div class="form-group">
        <label for="marca_empresa">{{ form.empresa.label_tag }}</label>
        {{ form.empresa }}
      </div>
      <div class="form-group">
        <label for="marca_cnpj">{{ form.cnpj.label_tag }}</label>
        {{ form.cnpj }}
      </div>
      <div class="form-group">
        <label for="marca_email">{{ form.email.label_tag }}</label>
        {{ form.email }}
      </div>
      <div class="form-group">
        <label for="marca_telefone">{{ form.telefone.label_tag }}</label>
        {{ form.telefone }}
      </div>
      <div class="form-group">
        <label for="{{ form.telefone_zap.id_for_label }}">{{ form.telefone_zap.label }}</label>
        {{ form.telefone_zap }}
        {% if form.telefone_zap.errors %}
            <div class="invalid-feedback">
                {{ form.telefone_zap.errors.as_text }}
            </div>
        {% endif %}
    </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>
