<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Cadastrar Marcas</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form action="{% url 'marcas:cadastro' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="marca_nome">{{ form.nome.label_tag }}</label>
        {{ form.nome }}
      </div>
      <div class="form-group">
        <label for="marca_empresa">{{ form.empresa.label_tag }}</label>
        {{ form.empresa }}
      </div>
      <div class="form-group">
        <label for="marca_cnpj">{{ form.cnpj.label_tag }}</label>
        {{ form.cnpj }}
      </div>
      <div class="form-group">
        <label for="marca_email">{{ form.email.label_tag }}</label>
        {{ form.email }}
      </div>
      <div class="form-group">
        <label for="marca_telefone">{{ form.telefone.label_tag }}</label>
        {{ form.telefone }}
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="marca_telefone_zap" name="marca_telefone_zap">
          <label class="form-check-label" for="marca_telefone_zap">
            {{ form.telefone_zap.label_tag }}
          </label>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>
