<div class="container">
    <!-- Search Form in a Card -->
    <div class="card bg-light mb-3">
        <div class="card-header">
            <form action="{% url 'fornecedor:lista' %}" method="get">
                <div class="row">
                    <!-- Dropdown occupying 1/4th of the bar -->
                    <div class="col-3">
                        <select class="form-control" name="tipo">
                            <option value="nome">Nome</option>
                            <option value="cnpj">CNPJ</option>
                            <option value="empresa">Empresa</option>
                        </select>
                    </div>
                    <!-- Input field occupying the rest of the bar -->
                    <div class="col-9">
                        <div class="input-group mb-0">
                            <input type="text" class="form-control" placeholder="Buscar..." aria-label="Search" name="val">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Pesquisar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% for item in fornecedores %}
        <!-- Each card taking up 4 columns -->
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Nome: {{ item.nome }}</h5>
                    <p class="card-text">Empresa: {{ item.empresa }}</p>
                    <p class="card-text">CNPJ: {{ item.cnpj }}</p>
                    <p class="card-text">Email: {{ item.email }}</p>
                    <p class="card-text">Telefone: {{ item.telefone }}</p>
                    {% if item.telefone_zap %}
                    <p class="card-text">Telefone Zap: Sim</p>
                    {% else %}
                    <p class="card-text">Telefone Zap: Não</p>
                    {% endif %}
                    <p class="card-text">Data de Cadastro: {{ item.adicionado }}</p>
                    <a href="{% url 'fornecedor:detalhe' pk=item.id %}" class="btn btn-primary">Abrir</a>
                    {% if item.telefone_zap %}
                    <a href="https://api.whatsapp.com/send/?phone={{ item.telefone }}" class="btn btn-success" target="_blank" rel="noopener noreferrer">Whatsapp</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-sm-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Cadastrar Fornecedor</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><strong>Nenhum Fornecedor Cadastrado.<strong></h5>
                </div>
                <div class="card-footer">
                    <a href={% url "dashboard" %} class="btn btn-danger" role="button">Voltar</a>
                    <a href="fornecedor:cadastro" class="btn btn-success" role="button">Cadastrar Fornecedor</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>