{% extends "adminlte/base.html" %}

{% block page_title %}Vendedores{% endblock page_title %}

{% block content_header %}Vendedores Cadastradas{% endblock content_header %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "dashboard" %}">Início</a></li>
    <li class="breadcrumb-item"><a href="{% url "vendedor:lista" %}">Vendedores</a></li>
    <li class="breadcrumb-item active">Detalhe</li>
{% endblock breadcrumb %}

{% block custom_style %}
{% endblock custom_style %}

{% block content %}
  {% include "vendedores/extras/detalhe_content.html" %}
{% endblock content %}
