{% if produtos %}
<div class="container">
  <div class="card bg-light mb-3">
    <div class="card-header">
      <form action="{% url 'vendas:vender' %}" method="get">
        <div class="input-group mb-0">
          <input type="text" class="form-control" placeholder="Insira o Código do Produto" aria-label="Insira o Código do Produto" aria-describedby="basic-addon2" name="buscar">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Pesquisar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    {% for item in produtos %}
    <div class="col">
      <div class="card mt-3" style="width: 18rem;">
          <img class="card-img-top" src="{{ item.img_produto.url }}" alt="Card image cap" style="object-fit: contain; height: 200px;">
          <div class="card-body">
            <h5 class="card-title">{{ item.nome }}</h5>
            <p class="card-text">
              Código: {{ item.id }}<br/>
              Marca: {{ item.marca }}<br/>
              Categoria: {{ item.get_categoria_display }}<br/>
              <form action="{% url 'carrinho:adicionar' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="produto_id" value="{{ item.id }}">
                <div class='row'>
                  <div class='col-5'>
                    Tamanhos:
                  </div>
                  <div class='col-8'>
                    <select class="form-control" name="tamanho">
                      {% if item.qtd_tam_p %}<option value="P">P</option>{% endif %}
                      {% if item.qtd_tam_m %}<option value="M">M</option>{% endif %}
                      {% if item.qtd_tam_g %}<option value="G">G</option>{% endif %}
                      {% if item.qtd_tam_gg %}<option value="GG">GG</option>{% endif %}
                    </select>
                  </div>
                </div>
                <br/>
                <button type="submit" class="btn btn-primary">Adicionar ao Carrinho</button>
              </form>
              <p class='mt-2'>Preço: <b>R$ {{ item.preco }}</b><br/></p>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% else %}
<div class="col-sm">
  <div class="card card-primary mt-3">
    <div class="card-header">
      <h3 class="card-title">Vender Produtos</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title"><strong>Os produtos acabaram.<strong></h5>
    </div>
    <div class="card-footer">
      <a href="{% url 'dashboard' %}" class="btn btn-primary" role="button">Voltar</a>
    </div>
  </div>  
</div>
{% endif %}
