<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Cadastrar Vendedores</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form action="{% url "vendedor:cadastro" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="nome">{{ form.nome.label_tag }}</label>
        {{ form.nome }}
      </div>
      <div class="form-group">
        <label for="foto">{{ form.foto.label_tag }}</label>
        <div class="input-group">
          <div class="custom-file">
            {{ form.foto }}
            <label class="custom-file-label" for="foto">Selecione uma imagem</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="cpf">{{ form.cpf.label_tag }}</label>
        {{ form.cpf }}
      </div>
      <div class="form-group">
        <label for="email">{{ form.email.label_tag }}</label>
        {{ form.email }}
      </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>
