<div class="card card-solid">
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <img src={{ vendedor.foto.url }} alt="Image" class="img-fluid">
      </div>
      <div class="col-10">
        <h3 class="my-3">{{ vendedor.nome }}</h3>
        <h5 class="card-title">CPF: {{ vendedor.cpf }}</h5>
        <p class="card-text">Email: {{ vendedor.email }}</p>
        <p class="card-text">Data de Cadastro: {{ vendedor.adicionado }}</p>
      </div>
    </div>
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    <div class="btn-group" role="group" aria-label="Botões de acesso">
      <a href="{% url 'vendedor:lista' %}" class="btn btn-primary ">Voltar</a>
      <a href="{% url 'vendedor:atualizar' pk=vendedor.id %}" class="btn btn-info">Editar</a>
      <a href="{% url 'vendedor:excluir' pk=vendedor.id %}" class="btn btn-danger">Excluir</a>
    </div>
  </div>
</div>
