<div class="container">
    <div class="row">
        {% for item in vendedores %}
        <!-- Each card taking up 4 columns -->
        <div class="col-md-3">
            <div class="card mb-3 mr-3">
                <img class="card-img-top" src="{{ item.foto.url }}" alt="Foto do Vendedor" style="object-fit: contain; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Nome: {{ item.nome }}</h5>
                    <p class="card-text">CPF: {{ item.cpf }}</p>
                    <p class="card-text">Email: {{ item.email }}</p>
                    <p class="card-text">Data de Cadastro: {{ item.adicionado }}</p>
                    <a href="{% url 'vendedor:detalhe' pk=item.id %}" class="btn btn-primary">Abrir</a>
                    <a href="{% url 'vendedor:senha' pk=item.id_usuario %}" class="btn btn-primary">Alterar Senha</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-sm-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Cadastrar Vendedor</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><strong>Nenhum Vendedor Cadastrado.<strong></h5>
                </div>
                <div class="card-footer">
                    <a href={% url "dashboard" %} class="btn btn-danger" role="button">Voltar</a>
                    <a href={% url "vendedor:cadastro" %} class="btn btn-success" role="button">Cadastrar Vendedor</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>